*, html, body{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient( blue, yellow);
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container>div{
    height: 50vh;
    width: 30%;
}

.container>div>img{
    height: 100%;
    width: 100%;
}